@font-face {
  font-family: 'gillsans'; /*a name to be used later*/
  src: url('fonts/GillSans.TTF'); /*URL to font*/
}

@font-face {
  font-family: 'gillsansbold'; /*a name to be used later*/
  src: url('fonts/GillSansStd-Bold.woff'); /*URL to font*/
}

@font-face {
  font-family: 'Lato'; /*a name to be used later*/
  src: url('fonts/Lato-Light.ttf'); /*URL to font*/
}

h1 {
  font-family: 'gillsansbold', Helvetica, Arial, sans-serif;
  font-size: 44px;
  text-transform: uppercase;
}

body {
  font-size: 14px;
  font-family: 'gillsans', Helvetica, Arial, sans-serif;
}

/** bootstrap class **/
.container-fluid {
  padding: 0;
}

/* Custom navigation bar */

/** bootstrap class **/
.navbar {
  margin-top: 5px;
}

input[type="text"] {
  font-family: 'Lato', sans-serif;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input[type="submit"] {
  color: white;
  border: 0;
  text-shadow: none;
  padding: 2px;
  background-color: #e98997;
}

input[type="submit"]:hover {
  background-color: black;
}

select {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: white;
  padding: 5px;
}

.navbar input[type="submit"] {
  width: 30px;
}

.navbar .search::before
{
  font-family: 'FontAwesome';
  content: "\f002";
  font-size: 14px;
  position: absolute;
  display: block;
  padding-top: 3px;
  margin-left: 5px;
  color: #000000;
}

.navbar .checkout {
  background-color: #e98997;
  padding: 5px;
  text-transform: uppercase;
}

.navbar .checkout:hover {
  transition: all 0.3s ease;
  background-color: white;
}

.navbar .sign-in {
  margin-left: 15px;
}

/* Header */

.header .jumbotron {
  background-color: white;
  margin-bottom: 1rem;
}

/* Menu */

.nav.menu {
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  border-bottom: 10px solid #000000;
  padding-bottom: 25px;
}

/* Main section */

.preview-lg {
  max-width: 755px;
  margin-right: 20px;
}

.main h1 {
  padding-bottom: 10px;
}

.main .description {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding-bottom: 15px;
}

.main .price {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  display: block;
  padding-bottom: 1.5rem;
}

.main .recommended {
  font-size: 30px;
  font-family: 'gillsansbold', Helvetica, Arial, sans-serif;
  padding: 10px;
  line-height: 30px;
}

.main .catalog-products img {
  width: 200px;
  height: 200px;
}

.main input[type="text"] {
  width: 49px;
  text-align: center;
  padding: 4px 0;
}

.main input[type="submit"] {
  width: 170px;
  height: 50px;
  font-size: 24px;
}

/* footer */

.footer {
  margin-top: 60px;
  padding-top: 110px;
  background-color: black;
}

.footer h4 {
  font-size: 22px;
  font-family: 'gillsansbold', Helvetica, Arial, sans-serif;
  color: #e98997;
}

.footer .mailing-text {
  color: white;
}

.footer .nav li a {
  color: white;
}

.footer .nav li a:hover {
  transition: all 0.3s ease;
  color: #e98997;
}

.footer .copyright {
  margin-top: 80px;
  width: 450px;
  color: white;
}

.footer .copyright a {
  color: #e98997;
}

/* Links */
a, a:visited { color: black; }
a:hover, a:focus { color: black; text-decoration: none }

/* Some responsive stuff */

@media (min-width: 1200px) {
  .container {
    max-width: 1230px;
  }
}
